@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.pg-home {
    border-bottom: 2px solid#db2d2e;
}

.nav-content1 span:hover {
    animation: line 1s 0s forwards;
}

@keyframes line {
    0% {
        border-bottom: 2px none#db2d2e;
    }

    100% {
        border-bottom: 2px solid#db2d2e;
    }
}

section {
    margin: 80px auto;

    div {
        max-width: 1155px;
        margin: 0 auto;
    }
}

@media(max-width:1200px) {
    section {
        max-width: 960px;
    }
}

@media(max-width:990px) {
    section {
        max-width: 720px;
    }
}

@media(max-width:750px) {
    section {
        max-width: 540px;
    }
}

@media(max-width:550px) {
    section {
        margin: 80px 30px;
        max-width: 540px;
    }
}

/* navbar 1*/
.nav1,
.nav3 {
    padding: 16px 180px;
    background-color: #323232;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1 span {
    padding: 12px;
}

.media {
    padding: 0px 5px;
}

.medai2 {
    color: #8d8d8d;
}

/* navbar 2*/
.nav2 {
    max-width: 1155px;
    height: 80px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #323232;
    font-weight: 900;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav-content {
    font-size: 15px;
    color: #353535;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content1,
.nav-content2 {
    display: flex;
    justify-content: space-evenly;
}

.fa-plus{
    rotate: 45deg;
    font-size: 22px;
}

.nav-content1>a,
.nav-content2 a {
    color: #323232;
    margin: 10px 0;
}
.nav3 span{
    margin: 10px 0;
}

.nav-content1 span {
    margin: 12px 18px;
}

.nav-content2 span {
    padding: 12px 18px;
    cursor: pointer;
}

.btn1 {
    background-color: #db2d2e;
    padding: 12px 18px;

    a {
        color: white;
    }
}

.menu {
    display: none;
    padding: 5px;
    font-size: 24px;
    border: 1px solid;
    border-radius: 2px;
}
.nav-content1 a:hover>.dropDown{
    display: block;
}
.dropDown{
    top: 100px;
    position: absolute;
    padding: 10px;
    font-weight: 400;
    background: #db2d2e;
    display: none; 
    opacity: 0;
    li{
        list-style: none;
        width: 127px;        
        padding: 5px;
        color: white;
        list-style: none;
        cursor: pointer;
    }
}
.slowblur{
    animation: slow 1s forwards;
}
@keyframes slow{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.mob-dropdown{
    display: none;
    font-size: 15px;
    li{
        list-style: none;
        margin: 12px 18px;
        font-weight: 700;
        color: #6A6B7C;
    }
}

.text-grow{
    display: block;
    animation: grow 1s forwards;
}

@keyframes grow{
    0% {font-size: 0px;}
    100%{
        font-size: 15px;
    }
}

/* sidebar*/
.sidebar {
    z-index: 3;
    position: absolute;
    padding: 50px 30px;
    background-color: white;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.sidebarfull {
    z-index: 2;
    position: absolute;
    padding: 50px 30px;
    background-color: white;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: #323232ae;
    display: none;
}

.slideLeft {
    opacity: 0;
    display: block;
    animation: slide 1s 0.5s forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideRight{
    animation: slide2 1s forwards;
    opacity: 1;
}

@keyframes slide2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

/* navbar media query*/
@media (max-width:1300px) {

    .nav2,
    .nav1 {
        padding: 16px 40px;
    }
}

@media (max-width:990px) {
    .nav2 {
        padding: 15px 120px;
    }

    .nav-content,
    .nav1 {
        display: none;
    }

    .menu {
        display: block;
    }

    .nav-content1 {
        flex-direction: column;
    }

    .nav3 {
        background-color: white;
        flex-direction: column;
        padding: 16px 0px;
        color: #323232;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info1,
    .info2 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .nav2 {
        padding: 16px 40px;
    }
}

.hero {
    background-image: url(https://themewagon.github.io/hvac/img/hero-bg.jpg);
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0;
}

.hero-content-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    animation: shake 2s infinite forwards;
}
@keyframes shake{
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 20px);}
    100% {transform: translate(0, 0px);}
}

.hero-content-div-txt {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;

    h2 {
        font-size: 60px;
        font-weight: 700;
        margin: 15px 0;
    }

    span {
        background: white;
        color: black;
        font-size: 15px;
        padding: 5px;
        font-weight: 400;
        border-radius: 2px;
    }
}

@media(max-width:990px) {
    .hero-content-div {
        grid-template-columns: 1fr;
    }
}

@media(max-width:575px) {
    .hero-form-car-input {
        display: flex;
        grid-template-columns: 1fr;
    }
}

.about-singing {
    display: flex;
}

.drive {
    height: 20px;
}

.redBack {
    background: #db2d2e;
    margin-right: 20px;
}

.whiteborderbutton {
    border: 0.5px solid white;
}

.hero-content-div-txt a {
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    align-items: center;
    display: inline-flex;
}

/* form*/
.hero-form-btn {
    margin-bottom: 15px;

    a {
        color: black;
        background-color: #ffffff;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 2px;
    }
}

#carRental {
    padding-bottom: 20px;
}

.hero-form-car-head h2 {
    margin: 0 0 20px 0;
    font-size: 35px;
    color: #323232;
}

.hero-form-car-input {
    p {
        color: #323232;
        margin-bottom: 5px;
    }
}

.hero-form-car-input input[type=text] {
    border: 0.5px solid #8d8d8d72;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
}

.hero-form-car {
    background-color: #ffffff;
    padding: 40px;

}

.hero-form-car-input {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.hero-form-submit {
    color: #ffffff;
    margin-top: 40px;
    display: inline-block;
    padding: 19px 31px;
    font-weight: 700;
}


/* section 2*/

.about-quarantee {
    text-align: center;

    h2 {
        line-height: 55px;
        color: #353535;
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 16px;
    }

    p {
        font-size: 17px;
        line-height: 30px;
        color: #6A6B7C;
        margin-bottom: 80px;
    }
}

.about-quarantee-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.rightarrow {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    padding: 15px;
    color: #db2d2e;
}

.about-quarantee-content1:hover {
    box-shadow: 0px 6px 50px rgba(50, 15, 15, 0.05);
    border: 1px solid transparent;
}

.about-quarantee-content1:hover>.rightarrow,
.blog-car:hover .rightarrow-car {
    background-color: #db2d2e;
    color: white;
}

.about-quarantee-content1 {
    padding: 35px;
    border: 1px solid #ebebeb;

    span {
        height: 80px;
        display: inline-flex;
    }

    img {
        mix-blend-mode: color-burn;
    }

    h5 {
        font-size: 20px;
        color: #353535;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p {
        font-size: 15px;
        color: #727171;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
    }
}

@media(max-width:990px) {
    .about-quarantee-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:575px) {
    .about-quarantee-content {
        grid-template-columns: 1fr;
    }
}

/* redCarOuterDiv*/
.redCarOuterDiv {
    background: #f7f7f7;
    background-image: url(https://pluspng.com/img-png/free-png-hd-of-cars-car-free-download-png-2048.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
}

.redCarInnerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.redcarcontent,.blog-car-innerdiv-search {
    max-width: 400px;

    span {
        font-weight: 600;
        font-size: 15px;
        color: #db2d2e;
    }

    h2 {
        line-height: 55px;
        color: #353535;
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    p {
        font-size: 17px;
        line-height: 30px;
        color: #6A6B7C;
        margin-bottom: 30px;
    }
}

.btnRedCar {
    display: flex;
    gap: 20px;

    a {
        border-radius: 3px;
        color: white;
        padding: 14px
    }
}

.red-back {
    background-color: #db2d2e;
}

.black-back {
    background-color: black;
}

.red-back:hover {
    background-color: black;
}

.black-back:hover {
    background-color: #db2d2e;
}

.redcarbtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;

    img {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 30px;
    }

    span {
        color: black;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 600;
    }
}

@media(max-width:990px) {
    .redCarInnerDiv {
        grid-template-columns: 1fr;
        gap: 400px;
    }
    .redcarbtn {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media only screen and (max-width:750px){
    .redcarbtn {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media(max-width:575px) {
    .redCarOuterDiv {
        background-size: 340px;
    }
}

/* cars section*/
.blog {
    flex-direction: row-reverse;
    display: flex;
    align-items: flex-start;
}

.car-img1,
.car-img2,
.car-img3,
.car-img4,
.car-img5,
.car-img6 {
    width: -webkit-fill-available;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    overflow: hidden;
    border-radius: 3px;
}

.car-img1 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-1.jpg);
}

.car-img2 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-2.jpg);
}

.car-img3 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-3.jpg);
}

.car-img4 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-4.jpg);
}

.car-img5 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-5.jpg);
}

.car-img6 {
    background-image: url(https://themewagon.github.io/hvac/img/blog/blog-6.jpg);
}

.car-img1:hover,
.car-img2:hover,
.car-img3:hover,
.car-img4:hover,
.car-img5:hover,
.car-img6:hover {
    animation: zoom 0.5s 0.2s forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 15px
}

.blog-car ul {
    font-size: 13px;
    padding: 8px 3px;
    width: -webkit-fill-available;
    list-style: none;
background-color: #fff;
    display: flex;
    align-items: center;
    color: #000000ba;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    li {
        font-weight: 700;
        margin: 3px 0;
        border-right: 1px solid #000000ba;
        padding: 0 10px;
    }
}

@media(max-width:1200px){
    .blog-car ul {
        grid-template-columns: 1fr 1fr;
    }
}

.blog-car-price{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 0.5px solid #b0b0b069;
    width: -webkit-fill-available;
    a{
        padding: 12px;
        width: -webkit-fill-available;
    }
}
.blog-car{
    overflow: hidden;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buy-rent{
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
}
.rent-car{
    background-color: #4971FF;
}
.buywithfullprice{
    background-color: #db2d2e;;
}
.car-content {
    padding: 20px 0 20px 5px;
    margin: 10px;

    h5 {
        margin-top: 5px;
        font-size: 20px;
        color: #323232;
        font-weight: 700;
    }

    p {
        font-size: 12px;
        color: black;
        padding: 4px 10px;
        border: 0.5px solid #b0b0b054;;
        display: inline;
    }
}
@media(max-width:990px) {
    .cars {
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:750px) {
    .cars {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:575px) {
    .cars {
        grid-template-columns: 1fr;
    }
    .blog-car ul {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: start;
    }
    .car-img1, .car-img2, .car-img3, .car-img4, .car-img5, .car-img6 {
        height: 300px;
    }
}

@media(max-width:750px) {
    .blog-car-innerdiv{
        width: -webkit-fill-available;
    }
    .blog-car-innerdiv1 {
        gap: 10px;
        flex-direction: column;
    }
}
.blog-car-list{
    list-style: none;
    display: flex;
    gap: 30px;
    color: #8d8d8d;
    li{
        cursor: pointer;
    }
}
.highlight{
    color: black;
    border-bottom: 3px solid #db2d2e;
}

.blog-car-innerdiv1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    padding: 10px 25px;
}
.blog-car-innerdiv-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    h6{
        font-size: 15px;
        color: #353535;
        font-weight: 700;
        margin-right: 15px;
    }
    select{
            /* outline: none; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: fit-content;
    font-size: 15px;
    color: #8d8d8d;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 0.5px;
    }
}
.sideContent{
    justify-content: end;
}
.news {
    background: #f7f7f7;
    padding: 30px;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.news {
    h5 {
        font-size: 20px;
        color: #353535;
        font-weight: 700;
        margin-bottom: 15px;
    }
}
.car-filter{
    display: contents;
}
.search-box{
    margin-bottom: 50px;
}

.search,.select-filter {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: -webkit-fill-available;
    font-size: 15px;
    color: #8d8d8d;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 0.5px;
    margin-bottom: 10px;
}
.select-filter option{
    border-radius: 0;
    outline: none;
    padding: 10px 0;

}

.search i {
    padding: 0 15px;
}

.search input {
    border: none;
    display: inline;
}

.reset-filter {
    font-size: 15px;
    color: #ffffff;
    background: #db2d2e;
    font-weight: 700;
    display: inline-block;
    padding: 15px 38px;
    border: none;
    border-radius: 2px;
    margin-right: 4px;
}

.pagination {
    padding-top: 10px;
    width: -webkit-fill-available;
}

.pagination a {
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 18px;
    color: #727171;
    font-weight: 700;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    line-height: 50px;
    text-align: center;
    margin-right: 6px;
}

#active {
    border-color: #db2d2e;
    color: #353535;
}

.pagination a:hover {
    border-color: #db2d2e;
    color: #353535;
}

@media(max-width:990px) {
    .blog {
        flex-direction: column-reverse;
    }

    .news {
        margin: 40px;
        padding-top: 45px;
        width: -webkit-fill-available;
    }
    .search-box {
        width: -webkit-fill-available;
    }
}

.filter-type{
    width: -webkit-fill-available;
}

/* people choose us*/
.request-call {
    background-image: url(https://themewagon.github.io/hvac/img/chooseus-video.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f7f7f7;
}

.req-call-inner-content {
    padding: 100px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.submit {
    margin-right: 15px;
    border-radius: 2px;
    display: inline-block;
    background-color: #db2d2e;
    color: white;
    padding: 14px 24px;
}

.request-call-content {
    color: #353535;

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    p {
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
        text-align: left;
        margin-bottom: 35px;
    }

    a {
        color: white;
        border-bottom: 2px solid #db2d2e;
    }
}

.form-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.form-detail input[type=text],
.form-detail select {
    width: -webkit-fill-available;
    height: 48px;
    color: #727171;
    font-size: 15px;
    padding-left: 20px;
    border: none;
    border-radius: 2px;
    margin-bottom: 25px;
    outline: none;
}

@media(max-width:990px) {
    .req-call-inner-content {
        grid-template-columns: 1fr;
    }
}



@media(max-width:500px) {
    .req-call-inner-content {
        padding: 100px 30px;
    }
}

/* Latest News*/
.latestNewsHead {
    max-width: 600px;
    text-align: center;
    span {
        font-weight: 600;
        font-size: 15px;
        color: #db2d2e;
    }

    h2 {
        line-height: 55px;
        color: #353535;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 17px;
        line-height: 30px;
        color: #6A6B7C;
        margin-bottom: 30px;
    }
}

.cars-second-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 15px
}

.blog-car{
    overflow: hidden;
}
.blog-car ul {
    font-size: 13px;
    padding: 8px 22px;
    width: -webkit-fill-available;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    background-color: #000000ba;

    li {
        border-right: 1px solid white;
        padding: 0 10px;
    }
}

.cars-second-content2 {
    padding-top: 28px;

    h5 {
        font-size: 20px;
        color: #323232;
        font-weight: 700;
        margin-bottom: 40px;
    }

    p {
        color: #8d8d8d;
    }
}
.rightarrow-car {
    border-radius: 50%;
    padding: 15px;
    color: #db2d2e;
}
@media(max-width:990px){
    .cars-second-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:750px){
    .cars-second-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}


/* rent or buy*/
.rentOrBuy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: white;
    h4{
        font-weight: 700;
        margin-bottom: 6px;
        font-size: 25px;
    }
}
.buyACar{
    background-image: url(https://themewagon.github.io/hvac/img/cta/cta-1.jpg);
}
.rentACar{
    background-image: url(https://themewagon.github.io/hvac/img/cta/cta-2.jpg);
}
.buyACar,.rentACar{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 50px 30px;
}
@media(max-width:990px){
    .rentOrBuy{
        grid-template-columns: 1fr;
    }
}

/* footer*/
footer {
    background-image: url(https://themewagon.github.io/hvac/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    max-width: 1155px;
    margin: 0 auto;
    padding: 50px 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    border-bottom: 0.1px solid #e5e5e5;
    padding: 60px 0;
}

.contact div {
    display: flex;
}

.call {
    margin-right: 15px;
    border-radius: 2px;
    display: inline-block;
    background-color: #db2d2e;
    color: white;
    padding: 14px 24px;
}

.mail {
    border-radius: 2px;
    display: inline-block;
    color: black;
    background-color: white;
    padding: 14px 24px;
}

.footer-content {
    margin: 60px 0;
    width: -webkit-fill-available;
    display: grid;
    column-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer-content1 {
    grid-column: 1 / 3;
    color: white;

    h2 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        color: #8d8d8d;
    }
}

.media3 {
    display: inline-block;
    height: 38px;
    width: 38px;
    font-size: 15px;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
}

@media(max-width:900px) {
    .contact {
        flex-direction: column;
        align-items: baseline;
    }

    .contact div {
        margin-top: 20px;
    }
}

@media(max-width:570px) {
    .contact div {
        flex-direction: column;
    }

    .call {
        margin: 10px 0;
    }
}

.footer-content2 {
    h5 {
        font-size: 18px;
        color: white;
    }

    ul {
        list-style: none;
    }

    a {
        color: #8d8d8d;
    }

    li {
        padding: 8px 0;
    }
}

@media(max-width:990px) {
    .footer-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-content {
        column-gap: 20px;
        row-gap: 50px;
    }
}

@media(max-width:750px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
}